{% extends "shop/base.html" %}
{% load static %}

{% load social_share %}

{% block metadata %}
    <link rel="icon" type="image/x-icon" href="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}"/>
    <meta name="description" content="{{ product.description }}"/>

    <!--Metadata para compartir en Facebook y Whatsapp-->
    <meta property="og:url" content="{{product.get_absolute_url}}"/>
    <meta property="og:type" content="{{ product.category }}"/>
    <meta property="og:title" content="{{ product.name }}"/>
    <meta property="og:description" content="{{ product.description }}"/>
    <meta property="og:image" content="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}" />

    <!--Metadata para compartir en Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="compufacil" />
    <meta name="twitter:creator" content="compufacil" />
    <meta name="twitter:title" content="{{ product.name }}" />
    <meta name="twitter:description" content="{{ product.description }}" />
    <meta name="twitter:image" content="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}" />

{% endblock %}

{% block estilos_css %}
    <link href="{% static "css/detalle.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
  {{ product.name }} | Compufacil
{% endblock %}

{% block content %}
  <section id="cabezaCategoria">
    <p>Productos</p>
    <p>></p>
    <p>{{ product.category }}</p>
    <p>></p>
    <p>{{ product.name }}</p>
  </section>

  <div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}" alt="{{ product.name }}">
    <div>
      <div class="chequsito">
        <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
        <p>Disponible</p>
      </div>
      <h1>{{ product.name }}</h1>
      <footer>
        <div>
          <p>Precio</p>
          <p class="price">${{ product.price }}</p>
        </div>
        <div>
          <p>Tipo</p>
          <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
          </a>
        </div>
      </footer>
    </div>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" class="btn" value="Añadir al carrito">
      <footer id="socials-share">
        Compartir:
        {% post_to_facebook product.get_absolute_url "<i class='bx bxl-facebook-circle'></i>" "btn-social-share-facebook" %}
        {% post_to_whatsapp product.get_absolute_url "<i class='bx bxl-whatsapp'></i>" "btn-social-share-whatsapp" %}
        {% post_to_twitter "🔥 ¡Nueva oferta en Compufacil! 🔥 Echa un vistazo a nuestro producto, el {{ product.name }}." product.get_absolute_url "<i class='bx bxl-twitter'></i>" "btn-social-share-twitter" %}
      </footer>
    </form>
  </div>

  <section id="descripcion">
    <div>
      <h3>Descripción</h3>
    </div>
    <p>{{ product.description }}</p>
  </section>

  <section id="productosRelacionados">
    <h2>Productos relacionados</h2>
    <div>
      {% for product in products|slice:":4" %}
          <div class="item">
              <a class="opcion" href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static " img/no_image.png" %}{% endif %}" alt="{{ product.name }}">
              </a>
              <a class="opcion" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              <br>
              ${{ product.price }}
          </div>
      {% endfor %}
    </div>
  </section>    
{% endblock %}
