{% extends "shop/base.html" %}
{% load static %}

{% block estilos_css %}
    <link href="{% static "css/listaProductos.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
{% if category %}{{ category.name }}{% else %} Todos los productos {% endif %}
{% endblock %}

{% block content %}

<header id="cabezaCategoria">
  <p>Productos</p>
  <p>></p>
  <p>{% if category %}{{ category.name }}{% else %} Todos los productos {% endif %}</p>
</header>

<main id="contenedor">
  <aside>
    <h4>Categorias</h4>
    <ul>
      <li {% if not category %} class="selected" {% endif %}>
        <a href="{% url "shop:product_list" %}">Todos</a>
      </li>
      {% for c in categories %}
      <li {% if category and category.slug == c.slug %} class="selected" {% endif %}>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>

  <main>
    <header>
      <p>{{ products|length }} productos en "{% if category %}{{ category.name }}{% else %}Todos los productos{% endif %}"</p>
    </header>
    <section>
      {% for product in products %}
      <div class="item">
        <a class="opcion" href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static " img/no_image.png" %}{% endif %}">
        </a>
        <div>
          <a class="opcion" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
          <p>${{ product.price }}</p>
          <p>{{ product.description }}</p>
          <a class="btn" href="{{ product.get_absolute_url }}">Ver detalles</a>
        </div>
      </div>
      {% endfor %}
    </section>
  </main>
</main>

{% endblock %}