{% load static %}
{% load i18n %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Titulo de cada pagina servida-->
    <title>{% block title %}Tienda Online Compufacil - Venta de Hardware para Computadoras{% endblock %}</title>

    <!--Incluir metadata de la pagina-->
    {% block metadata %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/compufacil.png'%}"/>
    <meta name="description" content="La satisfacción de nuestros clientes es nuestra prioridad"/>
    <meta name="ROBOTS" content="ALL">
    <meta name="keywords" content="Compufacil, Hardware, Computadoras, RAM, Procesador, Tarjeta Gráfica">
    {% endblock  %}

    <!--Cargar estilo css para chatbot-->
    <link href="{% static "css/estilosChat.css"%}" rel="stylesheet">

    <!--Cargar estilo css para carrito de compras-->
    <link href="{% static "css/carrito.css"%}" rel="stylesheet">

    <!--Cargar estilo css principal-->
    <link href="{% static "css/principal.css"%}" rel="stylesheet">

    <!--Cargar estilo css de paginas adicionales-->
    {% block estilos_css %}
    {% endblock %}

    <!--Cargar la librería de Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Cargar la librería Feather Icons para iconos -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Cargar la fuente de íconos Material Icons Sharp desde Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://compufacilstore.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/compufacilstore.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </head>
  <body>
    <div id="cabeza">
      <div>
          <a href="/" id="logo">
            <img src="{% static "img/descarga.png" %}" alt="Compufacil">
          </a>
          {% comment %} <i data-feather="shopping-cart"></i> {% endcomment %}
      </div>

      <div>
        <input type="text" placeholder="Ingrese su búsqueda" class="buscador">
      </div>

      <div>
          <div id="user-info">
            <header>
              <i class='bx bx-user-circle'></i>
              <div>
                  <h4>¡Hola!</h4>
                  {% if user.is_authenticated %}
                  <span>{{user.username}}</span>
                  {% else %}
                  <span>Entrar</span>         
                  {% endif %}
              </div>
            </header>
            <section>
              {% if user.is_authenticated %}
              <ul>
                <li>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
              </ul>
              {% else %}
              <ul>
                <li>
                  <a href="{% url 'usuarios:login' %}">Inicia sesión</a>
                </li>
                <li>
                  <a href="{% url 'usuarios:register' %}">Únete a nosotros</a>
                </li>
              </ul>
              {% endif %}            
            </section>
          </div>
          <div style="position: relative;">
            <a id="cart-shop" href="{% url "cart:cart_detail" %}">
              <i style="font-size: 3rem;" class='bx bx-cart-alt'></i>
              {% with total_items=cart|length %}
                {% if total_items > 0 %}
                  <span class="units-cart">
                    {{ total_items }} 
                  </span>
                {% elif not order %}
                  <span class="units-cart">
                    0
                  </span>
                {% endif %}
              {% endwith %}
            </a>            
          </div>

      </div>
    </div>

    <div id="subheader">
      {% if messages %}
      <div class="d-flex justify-content-between">
        <div>
          <strong>{% trans "Mensajes:" %}</strong>
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="cart">
          {% with total_items=cart|length %}
            {% if total_items > 0 %}
              Su carrito:
              <a href="{% url "cart:cart_detail" %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
              </a>
            {% elif not order %}
              Su carrito esta vacío
            {% endif %}
          {% endwith %}
        </div>
      </div>
      {% else %}
      <div class="cart">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Su carrito:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% elif not order %}
            Su carrito esta vacío
          {% endif %}
        {% endwith %}
      </div>
      {% endif %}
    </div>

    <div id="menu">
      <div id="menuCategorias">
        <header>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-baseline-density-medium" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h16" /><path d="M4 12h16" /><path d="M4 4h16" /></svg>
          <span>Categorías</span>
        </header>
        <section>
          <ul>
            <li {% if not category %}class="selected"{% endif %}>
              <a href="{% url "shop:product_list" %}">Todos</a>
            </li>
            {% for c in categories %}
              <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
      <div>
        <a href="/">Inicio</a>
      </div>
    </div>

    <main id="contenedorContenido">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    {% include 'chatbot/chatbot.html' %}
    {% include 'footer/footer.html' %}
    <script src="{% static "js/app.js" %}" type="text/javascript"></script>
  </body>
  <script>
    // Reemplaza los iconos
    feather.replace();
  </script>
  
</html>
