{% load static %}
{% load i18n %}
{% load account socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <!-- <link href="{% static "css/base.css" %}" rel="stylesheet"> -->
    <link href="{% static "css/estilosChat.css"%}" rel="stylesheet">
    <link href="{% static "css/carrito.css"%}" rel="stylesheet">
    <link href="{% static "css/principal.css"%}" rel="stylesheet">
    <!-- <link href="{% static "css/style.css" %}" rel="stylesheet"> -->    
    {% block estilos_css %}
    {% endblock %}
  </head>
  <body>
    <div id="cabeza">
      <div>
          <a href="/" id="logo">
            <img src="{% static "img/descarga.png" %}" alt="My shop">
          </a>
      </div>
      <div>
        <input type="text" placeholder="Ingrese su búsqueda" class="buscador">
      </div>
      <div>
          {% if user.is_authenticated %}
          <span title="Usuario" class="btn">{{user.username}}</span>
          <a class="btn" href="{% url 'logout' %}">Cerrar Sesión</a>
          {% else %}
          <a class="btn" href="{% url 'usuarios:login' %}">Iniciar Sesión</a>
          <a class="btn" href="{% url 'usuarios:register' %}">Registrarse</a>            
          {% endif %}
      </div>
    </div>
    <div id="subheader">
      {% if messages %}
      <div class="d-flex justify-content-between">
        <div>
          <strong>{% trans "Mensajes:" %}</strong>
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="cart">
          {% with total_items=cart|length %}
            {% if total_items > 0 %}
              Su carrito:
              <a href="{% url "cart:cart_detail" %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
              </a>
            {% elif not order %}
              Su carrito esta vacío
            {% endif %}
          {% endwith %}
        </div>
      </div>
      {% else %}
      <div class="cart">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Su carrito:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% elif not order %}
            Su carrito esta vacío
          {% endif %}
        {% endwith %}
      </div>
      {% endif %}
    </div>
    <div id="menu">
      <div id="menuCategorias">
        <header>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-baseline-density-medium" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h16" /><path d="M4 12h16" /><path d="M4 4h16" /></svg>
          <span>Categorías</span>
        </header>
        <section>
          <ul>
            <li {% if not category %}class="selected"{% endif %}>
              <a href="{% url "shop:product_list" %}">Todos</a>
            </li>
            {% for c in categories %}
              <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
      <div>
        <a href="/">Inicio</a>
      </div>
    </div>
    <main id="contenedorContenido">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    {% include 'chatbot/chatbot.html' %}
    {% include 'footer/footer.html' %}
    <script src="{% static "js/app.js" %}" type="text/javascript"></script>
  </body>
</html>
