{% extends "shop/base.html" %}
{% load static %}

{% block metadata %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/compufacil.png'%}"/>
    <meta name="description" content="La satisfacción de nuestros clientes es nuestra prioridad"/>
    <meta name="ROBOTS" content="ALL">
{% endblock %}

{% block estilos_css %}
    <link href="{% static "css/inicio.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
  Inicio | Compufacil
{% endblock %}

{% block content %}

<section id="bannerPrincipal">
    <div class="contenedorImagen">
        <div>
            <p>Haz tu compra tecnológica más fácil</p>
            <span class="titulo">Hazla en Compufacil</span>
            <button class="btn">Ver más..</button>
        </div>
    </div>
    <aside>
        <p>Obtén US $10 de descuento en tu compra al compartir la pagina en redes sociales</p>
        <button class="btn">Compartir Ahora</button>
    </aside>
</section>

<section id="ofertas">
    <div class="itemOferta">
        <h3>Ofertas del mes</h3>
        <span>Finaliza en</span>
        <footer>
            <div id="days"></div>
            <div id="hours"></div>
            <div id="minutes"></div>
            <div id="seconds"></div>
        </footer>
    </div>
    {% for product in products|slice:":4" %}
        <div class="itemOferta">
            <a class="opcion" href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static " img/no_image.png" %}{% endif %}">
            </a>
            <a class="opcion" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <br>
            ${{ product.price }}
        </div>
    {% endfor %}
</section>

<section id="baner2">
    <div class="contenedorImagen">
        <div>
            <p>Lo mejor para los PC's Lovers</p>
        </div>
    </div>
    {% for product in products|slice:"1:7" %}
        <div class="itemBaner2">
            <a class="nombreBaner2" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <div>
                <p>Desde USD ${{ product.price }}</p>
                <a class="opcion" href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static " img/no_image.png" %}{% endif %}">
                </a>
            </div>
        </div>
    {% endfor %}
</section>

<section id="comentarios">
    <div>
        <h3>
            Sabemos que tus opiniones son tan únicas como tú.
            
            Compártenos tus pensamientos y sé parte de la convesación.

            ¡Tu Feedback es muy importante para nosotros!
        </h3>
    </div>
    <div class="chat_feedback">
        <h4>Enviar comentarios</h4>
        <div id="chat">
            {% for feedback_shop in feedbackshop %}
            <div class="message{% if request.user == feedback_shop.usuario %}_me {% endif %}">
                <strong>{% if request.user == feedback_shop.usuario %} Tú {% else %} {{feedback_shop.usuario}} {% endif %}</strong>
                <span class="date_feedback">{{feedback_shop.creado}}</span><br>
                {{feedback_shop.mensaje}}
            </div>
            {% endfor %}
            <div style="display: none;"></div>           
        </div>
        <textarea id="chat-message-input" placeholder="Escribe aquí tus comentarios" rows="5" required></textarea>
        <input id="chat-message-submit" class="btn" type="submit" value="Enviar">

        {% block include_js %}
            {{ request.user.username|json_script:"username" }}
        {% endblock %}

        {% block domready %}
            <script>
                const username = JSON.parse(document.getElementById('username').textContent);
                const url = 'ws://' + window.location.host + '/ws';
                const chatSocket = new WebSocket(url);
                const chatfoco = document.getElementById('chat');
                chatfoco.scrollTop = chatfoco.scrollHeight;
                
                chatSocket.onmessage = function(event) {
                    const data = JSON.parse(event.data);
                    const chat = document.getElementById('chat');
                    const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
                    const datetime = new Date(data.datetime).toLocaleString('es', dateOptions);
                    const isMe = data.user == username;
                    const source = isMe ? 'me' : '';
                    const name = isMe ? 'Tú' : data.user;
                    
                    chat.innerHTML += '<div class="message_' + source + '">' +
                                    '<strong>' + name + '</strong> ' +
                                    '<span class="date_feedback">' + datetime + '</span><br>' +
                                    data.message + '</div>';
                    chat.innerHTML += '<div style="display: none;"></div>';
                    chat.scrollTop = chat.scrollHeight;
                    
                };
                    
                chatSocket.onclose = function(event) {
                    console.error('Chat socket closed unexpectedly');
                };

                const input = document.getElementById('chat-message-input');
                const chat = document.getElementById('chat');
                const submitButton = document.getElementById('chat-message-submit');

                submitButton.addEventListener('click', function(event) {
                    const message = input.value;
                    if(message) {
                        // send message in JSON format
                        chatSocket.send(JSON.stringify({'message': message}));
                        // clear input
                        input.innerHTML = '';
                        input.value = '';
                        chat.focus();
                    }
                });

                input.addEventListener('keypress', function(event) {
                    if (event.key === 'Enter') {
                    // cancel the default action, if needed
                    event.preventDefault();
                    // trigger click event on button
                    submitButton.click();
                    }
                });
                    
                input.focus();

            </script>
        {% endblock %}
        
        
    </div>
    
</section>

<section id="suscribirse">
    <h4>Mantente informado</h4>
    <p>Suscríbase a nuestro boletín para recibir ofertas de descuentos anticipados, actualizaciones e información sobre nuevos productos.</p>
    <form action="">
        <input type="email" placeholder="Correo electrónico">
        <button class="btn">Suscribirse</button>
    </form>
</section>
<script>
    function updateClock() {
        var now = new Date();

        var lastDayOfMonth = new Date(now.getFullYear(), now.getMonth() + 1, 0);

        var timeRemaining = Math.floor((lastDayOfMonth - now) / 1000);

        var days = Math.floor(timeRemaining / (24 * 3600));
        var hours = Math.floor((timeRemaining % (24 * 3600)) / 3600);
        var minutes = Math.floor((timeRemaining % 3600) / 60);
        var seconds = timeRemaining % 60;

        document.getElementById('days').innerText = days + ' Días';
        document.getElementById('hours').innerText = ('0' + hours).slice(-2) + ' Horas';
        document.getElementById('minutes').innerText = ('0' + minutes).slice(-2) + ' Min';
        document.getElementById('seconds').innerText = ('0' + seconds).slice(-2) + ' Seg';
    }

    setInterval(updateClock, 1000);

    updateClock();
</script>
{% endblock %}