{% load static %}
<div class="footer">
    <h3>My Shop</h3>
    <p>Segunda etapa tarea ex aula Comercio Electronico CET115</p>
    <ul class="links">
        <li><a href="{% static "footer/FQA.html" %}" >Preguntas Frecuentes</a></li>
        <li><a href="{% static "footer/termsSale.html" %} ">Terminos de Venta</a></li>
        <li><a href="{% static "footer/disterms.html" %} ">Terminos de Distribucion</a></li>
    </ul>
    <div >
        <p>copyright &copy;2023 Universidad De El Salvador <span>CICLO II</span></p>
    </div>
                
</div>
</div>
<script src="{% static "js/toggleChat.js" %}" type="text/javascript"></script>